@media(min-width:1440px){
     .navbar .container{
        max-width: 1210px;
     }
}
@media(max-width:1400px){
   .team-footer a {
      padding-inline: 0;
   }
}
@media(max-width:1200px){
   .heading {
      font-size: 30px;
   }
   
   

   header .navbar .nav-item .nav-link{
      padding-inline: 8px;
      font-size: 18px;
   }
   





   .banner-content-box{
      padding: 35px 35px 35px 23px;
   }
   .banner-content-box h2{
      font-size: 30px;
   }
   .banner-content-box p{
      font-size: 18px;
   }




   .our-services h2{
      font-size: 30px;

   }
   .our-services p{
      font-size: 20px;
   }
   .our-services-item{
      padding: 0;
   }




   .cta-content{
      padding: 30px;
   }
   .cta-content p {
      font-size: 20px;
   }
   .cta-content a {
      font-size: 16px;
      padding: 15px 20px;
   }

   .implement-card a {
      font-size: 20px;
   }
   .implement-card p{
      font-size: 18px;
      line-height: 20px;
   }



   .contact-card{
      padding: 20px;
   }
   .contact-card h4 {
      font-size: 30px;
   }
   .contact-card p{
      font-size: 20px;
   }




   .solution-slider .solution-card a{
      font-size: 25px;
   }
   .solution-slider .solution-card ul li span{
      font-size: 20px;
   }
   .solution .paragraph{
      max-width: 100%;
   }
   .solution-card ul li span {
      font-size: 20px;
  }
}


@media(max-width:991px){
   .navbar-collapse {
      z-index: 999;
      position: absolute;
      width: 100%;
      left: 0;
      top: 89px;
   }
   header .navbar .nav-item .nav-link,
   header .navbar .nav-cta {
      padding-left: 130px;
   }



   .banner-content-box {
      max-width: 75%;
   }
   .banner-content{
      transform: translateY(-97%);
   }
   .banner-content-box h2{
      font-size: 40px;
   }
   .banner-content-box p{
      font-size: 20px;
   }
   .real-estate p {
      font-size: 18px
   }



   .real-estate #projectFacts .counter p, .real-estate #projectFacts .counter b {
      font-size: 35px;
   }

   .value-item-header img{
      max-width: 6%;
   }
   .team-footer a{
      padding-inline: 0;
      font-size: 17px;
   }
   .service-banner video{
   transform: translateY(-31px);
   }
   .service-banner    .banner-content {
      transform: translateY(-58%);
  }
  .values .value-item p{
   padding-left: 0;
   font-size: 20px;
  }


   .our-services p {
      margin-bottom: 40px;
   }
   


   .contact-card{
      width: 60%;
   }

   .btn li.prev {
      left: -33px;
   }



   footer a {
      padding: 3px 19px;
   }
   footer p{
      line-height: normal;
   }
   .copyright  p,
   .copyright a{
      font-size: 15px;
   }


   .service-content {
      margin-left: 41px;
  }
  .service-content span {
   font-size: 20px;
  }
  .service-content h2 {
   max-width: 100%;
   font-size: 32px;
  }
  .service-content p {
   font-size: 22px;
   max-width: 100%;
  }
}



@media(max-width:768px){
   header .navbar .nav-item .nav-link,
   header .navbar .nav-cta {
      padding-left: 40px;
   }
   .banner-content-box {
      max-width: 100%;
  }
  .cta{
   display: block;
  }
  .cta-img{
   max-width: 100%;
  }
  .cta-content{
   margin-top: 0;
   max-width: 100%;
   margin: 0;
  }
  .paragraph{
   max-width: 100%;
  }
  .call-to-action .content p{
   max-width: 100%;
  }
  footer a{
   display: block;
    text-align: center;
    margin-block: 20px;
 padding-block: 12px;
   }
   footer span{
      font-size: 18px;
      text-align: center;
      
   }
   .copyright p, .copyright a{
      text-align: center;
   }




   .service-banner video {
      transform: translateY(6px);
  }
  .team-footer a{
   font-size: 20px;
   padding-inline: 15px;

  }
.team-item{
   margin-bottom: 30px
}
.service-img img {
   margin-left: 21px;
}
.service .flex-row-reverse img {
   margin-right: 0;
   margin-left: 21px;
}
.service-content {
   margin-left: 0px;
   margin-top: 20px;
}
}

@media(max-width:576px){
   header .navbar {
      padding-block: 10px;
   }
   .banner-content {
      transform: translateY(-72%);
  }
  .banner-content-box h2 {
   font-size: 28px;
 line-height: 1.2;
 text-align: center;
}

.btn li.next{
top: calc(32% - 20px);
    right: -17px;
z-index: 999

}
.btn li.prev{
left: -9px;
top: calc(32% - 20px);
z-index: 999
}
.listing-name h5{
   font-size: 16px;
}
.listing-name .price {
   font-size: 12px;
}
.listing-prop-item i{
   font-size: 20px;
}
.contact-card {
   width: 100%;
}
.solution .slick-list {
   margin-bottom: 30px;
}
.slick-dots li {
   width: 8px;
}
.navbar-collapse {
   top: 79px;
}








.service-banner .banner-content-box h1 {
   font-size: 25px;
}
.real-estate{
   padding-block: 50px;
}







.service{
   padding-block: 80px;
}



.solution .paragraph{
   font-size: 16px;
}
.solution .solution-card a{
   font-size: 25px;
}
.solution-card ul li span{
   font-size: 16px;
}
.solution-content h1{
   font-size: 23px;
}
.solution-content p {
   font-size: 16px;
   line-height: 18px;
}
.impressum p{
   font-size: 15px;
   line-height: normal;
}


.datenschutz p, .datenschutz li{
   font-size: 16px;
}
}