.heading{
  color: #00233d;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  span{
    color: #692a2a;

  }
}

.paragraph{
  color: #00233d;
  font-size: 26px;
  font-weight: 300;
  max-width: 61%;
  margin: auto;
  margin-bottom: 30px;
}