.datenschutz{
    background-color: #f8f8f8;
    padding-block: 10px;
    p,li{
        font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
    }
    ul{
        list-style: disc;
        padding-left: 40px;
    }
}