.comercial-sale {
    background-color: #f8f8f8;
    padding-block: 30px;

    .feature {
        padding: 30px;
        background-color: #fff;

        h3 {
            margin-bottom: 25px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: normal;
            font-family: 'Roboto';
        }
    }

    .latest-post {
        padding: 30px;
        background-color: #fff;
        margin-top: 30px;

        h3 {
            margin-bottom: 25px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            font-family: 'Roboto';
            letter-spacing: normal;

        }
    }

    .discover {
        padding: 30px;
        background-color: #fff;
        margin-top: 30px;

        h3 {
            margin-bottom: 25px;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: normal;

            font-weight: 500;
            font-family: 'Roboto';
        }
    }

    .commercial-card {
        &-head {
            a {
                font-size: 10px;
                line-height: 11px;
                font-weight: 500;
                margin: 0;
                text-transform: uppercase;
                padding: 3px 5px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.65);
            }

            p {
                font-size: 18px;
                color: #000;
                font-weight: 600;
            }
        }

        h4 {
            font-weight: 500;
            font-size: 16px;
            margin: 0px 0px 15px;
            letter-spacing: normal;
        }

        p {
            margin-bottom: 15px;
            color: #636363;
            font-size: 13px;
        }

        i {
            font-size: 16px;
        }
strong{
    font-size: 16px;
    color: #b8bcbd;
}
        span {
            font-size: 12px;
            text-transform: uppercase;
        }

        &-footer {
            a {
                color: #636363;
                font-size: 12px;
            }

            &-btn {
                color: #fff !important;
                background-color: #692a2a;
                border-color: #692a2a;
                font-size: 20px !important;
                font-weight: 500 !important;
                padding: 5px 10px;
            }
        }

    }

    .commercial-head {
        margin-bottom: 10px;
        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            color: #000;
        }

        strong {
            font-size: 20px;
            font-weight: 400;
        }

        select {
            font-size: 20px;
            font-weight: 400;
  border: none;
  background-color: transparent;
  color: #a1a7a8;
        }
    }
}